##### Windows #####
Thumbs.db

##### MAC #####
.DS_Store

##### SVN #####
.svn/*

##### Eclipse #####
/.cache
.project
/.settings
.buildpath

##### Netbeans #####
nbproject/*

##### Netbeans #####
/check
